.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: black;
    background-image: url('../../assets/footer-bg.jpg');
    background-size: cover;
    background-position: top;
}

.footer-content{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

